table
  {
  	border:3px silver solid;
  	margin:auto;
  	margin-top:20px;
  	border-radius: 5px;
  	background-image: url(images/ad.jpg) 
  }
  .pa
  {
  	padding:13px;
  }
  .la
  {
  	color:blue;
  	font-family: cursive;
  	font-size:23px;
  }
  input[type]
  {
  	font-size:19px;
  }
  .bt
  {
  	font-size:18px;
  	padding:3px 15px;
  	background-color:black;
  	color:white;
  	border-radius:5px
  }